.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotBlogTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px /* plasmic-token: 5NZy7IbKbro */;
  font-weight: 900;
}
.slotPostTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px /* plasmic-token: 29_wrmjrUXo */;
  font-weight: 900;
}
.slotDate {
  font-size: 12px /* plasmic-token: oi88dITsxJF */;
}
