.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 3px;
}
.slotTitle {
  font-size: 24px /* plasmic-token: 5NZy7IbKbro */;
  font-weight: 900;
  color: rgb(0, 122, 204) /* plasmic-token: QOatv3hQaj3 */;
}
.slotDate {
  font-size: 12px /* plasmic-token: oi88dITsxJF */;
}
